In [3]:
!cd ../

In [6]:
cd ../

C:\Users\ASUS\Documents\data mining

In [7]:
!dir

 Volume in drive C is OS
 Volume Serial Number is 78CD-ADD1

 Directory of C:\Users\ASUS\Documents\data mining

02-Aug-21  07:41 AM    <DIR>          .
02-Aug-21  07:41 AM    <DIR>          ..
20-Jul-21  11:15 AM    <DIR>          .ipynb_checkpoints
04-Aug-21  01:54 PM    <DIR>          buku data mining
17-Apr-21  07:10 PM             1,915 foto_pca_revisi.py
01-Jul-21  02:11 AM    <DIR>          home-data
07-Aug-21  05:33 AM    <DIR>          ipythonku
27-Jul-21  10:35 AM               423 jpgtopng.py
20-Jul-21  11:08 AM             9,745 latihan numpy.ipynb
07-Aug-21  05:20 AM    <DIR>          pandasku
12-Apr-21  01:01 PM               256 pca.py
06-Apr-21  02:37 PM               421 regresi.py
25-Jul-21  09:57 AM    <DIR>          rockpaperscissors
22-Jul-21  08:18 AM                67 test_idle.py
17-Jul-21  11:03 AM    <DIR>          titanic
               6 File(s)         12,827 bytes
               9 Dir(s)  258,964,353,024 bytes free

In [8]:
cd pandasku

C:\Users\ASUS\Documents\data mining\pandasku

In [9]:
!dir

 Volume in drive C is OS
 Volume Serial Number is 78CD-ADD1

 Directory of C:\Users\ASUS\Documents\data mining\pandasku

07-Aug-21  05:20 AM    <DIR>          .
07-Aug-21  05:20 AM    <DIR>          ..
07-Aug-21  05:20 AM             7,163 emailku.csv
02-Aug-21  08:00 AM               144 nilai.csv
02-Aug-21  08:00 AM                95 penilai.csv
               3 File(s)          7,402 bytes
               2 Dir(s)  258,963,075,072 bytes free

In [10]:
import os
direc = os.listdir()
for i in direc:
    print(i,sep=' ')

emailku.csv
nilai.csv
penilai.csv

In [12]:
import pandas as pd
df = pd.read_csv("C:/Users/ASUS/Documents/data mining/pandasku/emailku.csv")
df.head()

   no                          email
0   1  febrianirifqah@apps.ipb.ac.id
1   2   01risyantiria@apps.ipb.ac.id
2   3    Liliana_adhi@apps.ipb.ac.id
3   4      hestraarya@apps.ipb.ac.id
4   5       nadarania@apps.ipb.ac.id

In [14]:
ipb_ku = df[df["email"].str.find("apps.ipb.ac.id") != -1]
ipb_ku

      no                              email
0      1      febrianirifqah@apps.ipb.ac.id
1      2       01risyantiria@apps.ipb.ac.id
2      3        Liliana_adhi@apps.ipb.ac.id
3      4          hestraarya@apps.ipb.ac.id
4      5           nadarania@apps.ipb.ac.id
..   ...                                ...
214  215  audriaulia13masita@apps.ipb.ac.id
215  216       Az_zahramonra@apps.ipb.ac.id
216  217        dianhendiana@apps.ipb.ac.id
217  218          Salma_2509@apps.ipb.ac.id
219  220         fathinahmad@apps.ipb.ac.id

[151 rows x 2 columns]

In [15]:
bukan_ipb = df[df["email"].str.find("apps.ipb.ac.id") == -1]
bukan_ipb

      no                       email
5      6      AISaharaKushendaryanti
9     10          patur619@gmail.com
14    15      ehaa21suleha@gmail.com
34    35      Akifalaila07@gmail.com
35    36  yuriko_kato@apps.ipb.ac.ic
..   ...                         ...
199  200      aldafadhilla@gmail.com
200  201        syarahasma@gmail.com
208  209     srchairunnisa@gmail.com
218  219       rahmasithoh@gmail.com
220  221     iamriennardi31@gmai.com

[70 rows x 2 columns]

In [25]:
bukan_ipb.set_index("no",inplace=True)

In [43]:
for i in bukan_ipb.iterrows():
    hasil = str(i[1])
    tuliskan = hasil.split()[1]
    
        print(tuliskan)

AISaharaKushendaryanti
patur619@gmail.com
ehaa21suleha@gmail.com
Akifalaila07@gmail.com
yuriko_kato@apps.ipb.ac.ic
akbarhafizh@gmail.com
wijayanticucu@gmail.com
revinarefi9@yahoo.com
Nananaimah@gmail.com
ratna.sani97@gmail.com
riadwisulastri@gmail.com
fahadalfazali98@gmail.com
rettyanggela36@gmail.com
anindyaseptis@gmail.com
sukaina.adibi@gmail.com
fandytikonu@yahoo.com
fernandoaryanegara123@gmail.com
Ghinary02@gmail.com
evakadmaer@apps.ipb.ac
nabilmafazihusein@gmail.com
20160212001ujang@gmail.com
alfarrahdhifa@gmail.com
ipanguspian44@gmail.com
sitimalika51@gmail.com
sophianasution223@gmail.com
mustafahardi4@gmail.com
aisyahfathiatia15@gmail.com
wayautami88@gmail.com
emiraldagamasari@gmail.com
rista.ardy.43n@kyoto-u.jp
abdul.aziz@lapan.go.id
dhikatr@yahoo.com
awildan16kk@gmail.com
yudhahanggara11@gmail.com
4443200023@untirta.ac.id
Lymbarsk.lcr@bsi.ac.id
ekakrisnayanti814@gmail.com
arasy_pasandia@apps.ipb
Idvanibe@yahoo.co.id
Pmawaddah429@gmail.com
ml944833@gmail.com
fiqriadham01@gmail.com
ali179yorkshire@gmail.com
arismasiregar1997@gmail.com
rizkydesriana@gmail.com
abiblutfi1@gmail.com
dendendilah26@gmail.com
itafirani48@gmail.com
dikahsy123@gmail.com
20.mzidane@gmail.com
ismaindriyanahanum@gmail.com
dafafaiz2002@gmail.com
zhafirahprameswari@gmail.com
angelmpradina@gmail.com
cchairunnisadewianggraini@gmail.com
radhwahayyu29@gmail.com
Alfanrachmat14@gmail.com
rifatabdat4@gmail.com
mutiarasukmaayuparamitha@gmail.com
nickyhitalessy@gmail.com
vegapuan@gmail.com
Asriy158@gmail.com
nurulannisarn@gmail.com
Zelin.syafri@gmail.com
sanijsinurat@gmail.com
aldafadhilla@gmail.com
syarahasma@gmail.com
srchairunnisa@gmail.com
rahmasithoh@gmail.com
iamriennardi31@gmai.com